$red: #c60006;
html, body, div, span, applet, object, iframe,
h1,h2,h4,h5,h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }
  

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

body {
	font-family: "MyriadPro-Regular";
	line-height: normal;
}
h1{
	font-family: "MyriadPro-Cond";
	font-size: 72.14px !important;
	color: #fff;
	text-transform: uppercase;
	line-height: 20px;
}
h3{
	font-size: 36px;
	line-height: 30px;
	font-family: "Myriad-Pro-Light-SemiExtended";
	color: #000;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.header-sub-text{
	font-family: "Myriad-Pro-Light-SemiExtended";
	font-size: 24px;
	color: #fff;	
}

.button-1{
	display: inline-block;
	width: 121px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #14b2cc;
	font-size: 14px;
	text-align: center;
	transition: 0.5;
	box-sizing: border-box;
	font-family: "MyriadPro-Regular";
	letter-spacing: .1em;
	color: #000;
}
.button-1:hover{
	background: #14b2cc;
	color: #fff;
}
/***********/
.futures{
	
	margin-top: 85px;
}
.future{
	width: 100%;
	max-width: 240px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
}
.futures__img-box{
	min-height: 50px;
	margin-bottom: 20px;
}
.futures__title{
	display: block;
	color: #212b4d;
	font-size: 24px;
	font-family: "MyriadPro-Cond";
	text-transform: uppercase;
	letter-spacing: .05em;
	margin-bottom: 18px;
}

.futures__text{
	min-height: 60px;
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 14px;
	color: #000;
	opacity: 0.8;
	font-family: "MyriadPro-Regular";
}

/**==**/
.acceleration{
	width: 100%;
	background: #c8db8c;
	//padding: 50px 0px;
	padding-top: 50px;
	//height: 455px;

}
.acceleration-tetka{
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	//position: absolute;
	//right: 0px;
	//bottom: -120px;
}

.acc-middle-text{
	p{
		margin-bottom: 20px;
	}
}
.acc-some-text{
	width: 100%;
	max-width: 80%;
	color: #fff;
	background: #c8db8c;
	padding: 35px 55px;
	margin: 0 auto;
	font-family: "Myriad-Pro-Light-SemiExtended";
	font-size: 23px;
	line-height: 28px;
	text-align: center;
}
.center{
	text-align: center;
}
/*==*/
.vremya{
	display: block;
	width: 100%;
	
	margin-top: 50px;
	li{
		width: 130px;
		height: 114px;
		display: inline-block;
		text-align: center;
		margin-right: 50px;
		color: #010101;
		font-family: "MyriadPro-Cond";
		font-size: 24px;
		text-transform: uppercase;
		.ico-box{
			margin-top: 20px;
			margin-bottom: 5px;
			min-height: 50px;
			color: red;
		}
	}
	li:hover, .active{
		background: #f8f3f0;
	}
	li:last-child{
		margin-right: 0px;
	}
}
.ab-gray{
	width: 100%;
	background: #f8f3f0;
	padding: 45px 0px;
	margin-bottom: 50px;
}
.ab-menu-center{
	width: 100%;
	height: 100%;
	text-align: center;

}
.ab-title{
	//font-family: "MyriadPro-Cond";
	font-size: 18px;
	//font-weight: bold;
	text-transform: uppercase;
}

.footer{
	text-align: center;
	opacity: 0.5;
	font-size: 12px;
	margin-top: 50px;
	padding: 30px 0px;
	
}


.prods-tab_content{
    //text-align: center;
}

/* REQUIRED for core functionality */

.prods-tab .responsive-tabs__heading { 
	display: none;
}
.prods-tab .responsive-tabs__list__item { display: inline; cursor:pointer;}


@media (max-width: 1200px) {
    .prods-tab .responsive-tabs__list { display: none;}
    .prods-tab .responsive-tabs__heading { display: block; cursor: pointer; }
    .prods-tab .responsive-tabs__panel--closed-accordion-only { display: none;}
}

@media (min-width: 1201px) {
    .prods-tab .responsive-tabs__panel--closed-accordion-only { display: block !important;}
}

/* END - Required for core functionality */


/* OPTIONAL - Basic Skin */
.prods-tab .responsive-tabs{
    margin-top: -75px;
}
.prods-tab .responsive-tabs-wrapper { 
    clear: both;
    zoom: 1; 
}
.prods-tab .responsive-tabs-wrapper:before,
.prods-tab .responsive-tabs-wrapper:after {
    content: "";
    display: table;
} 
.prods-tab .responsive-tabs-wrapper:after {
    clear: both;
}


.prods-tab .responsive-tabs__list { 
    // font-size: 1.2em;
    // margin: 2em 0 0 0;
    // padding: 0;
    // border-bottom: 1px solid #ddd;
    // padding-bottom:11px;
    // line-height: 1em;
    height: 74px;
    line-height: 74px;
}
.prods-tab .responsive-tabs__list__item {
	display: inline-block;
    padding: 0px 20px;
    font-family: "MyriadPro-Cond";
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #fff;
    outline: none;
    max-width: 20%;
    height: 75px !important;
    line-height: 75px !important;
    span{
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        text-align: center;
        font-family: "MyriadPro-Cond";
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
    }
}
.prods-tab .responsive-tabs__list__item:hover {
    background: #fff;
    color: #000;
     span{
    	color: #000;
    }
}
.prods-tab .responsive-tabs__list__item--active, 
.prods-tab .responsive-tabs__list__item--active:hover {
    background: #fff; 
    color: #000;
    span{
    	color: #000;
    }
}
.prods-tab .responsive-tabs__panel { 
    padding: 25px;
    background: #fff;
}

@media (max-width: 1200px) {
	.prods-tab{
		width: 100%;
		margin-top: 76px;
	}
	.prods-tab .responsive-tabs__list__item{
		width: 100%;
	}
    .prods-tab .responsive-tabs__heading { 
        padding: 30px 20px; 
       
        background: #14b2cc;
        border-bottom: 1px solid #fff;
        position: relative;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: .05em;
        color: #fff;
        font-family: "MyriadPro-Cond";
        width: 100%;
    }

    .prods-tab .responsive-tabs__heading:after {
        content:"";
        display: block;
        position: absolute;
        right: 20px;
        top: 40%;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
    }
    .prods-tab .responsive-tabs__heading:hover,
    .prods-tab .responsive-tabs__heading--active:hover {
        background-color: #f22e89;
        color: #fff;
    }
    .prods-tab .responsive-tabs__heading--active { 
        background: #f22e89;
        color: #fff;
    }
    .prods-tab .responsive-tabs__heading--active:after {
        border-bottom: 10px solid #fff;
        border-top:0;
     }
    .prods-tab{
        .row, .container, div[class^="col"] {
            padding: 0px;
            margin: 0px;
        }
    } 
}
.products-text{
	font-size: 18px;
	color: #fff;
	opacity: 0.8;
	line-height: 25px;
	font-family: "MyriadPro-Regular";
	padding-bottom: 35px;
}
.header_middle-products{
	background: #14b2cc;
	padding-top: 50px;
}
.products-women{
	display: block;
	margin-left: auto;
	width: 100%;
	height: auto;
}



#mask { position:absolute; left:0; top:0;  z-index:9000;  background-color:#000;  display:none; }

.order{ 
    display: none;
    position:absolute;
    left:0;  
    top:0;
    width: 309px;
    min-height: 315px;
    z-index:9998; 
    background-color: #fff; 
    border-radius: 6px;
    font-size: 16px;
    .form-order{
        padding: 17px;
        span.ttl{
            display: block;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        span.sub{
            display: block;
            margin-bottom: 10px;
        }
        
        label{
        	display: block;
        	margin-bottom: 5px;
        }
        input[type="text"]{
            display: block;
            width: 100%;
            height: 37px;
            line-height: 37px;
            margin-bottom: 20px;
            border: none;
            border: 1px solid $red;
            padding: 0px 10px;
            outline: none;
            
        }
        input[type="submit"]{
            display: block;
            text-align: center;
            
            border: none;
            margin: 0 auto;
            margin-top: 10px;
        }
        
        label{
            display: inline-block;
            position: relative;

        }
        
    }
    .close{
        position:absolute;
        display: block;
        width: 17px;
        height: 17px;
        top : 25px;
        right: 20px;
        background: url(../img/close.png);
       
    }
    /* Cначала обозначаем стили для IE8 и более старых версий
	т.е. здесь мы немного облагораживаем стандартный чекбокс. */
	.checkbox {
	  vertical-align: top;
	  display: inline-block;
	  margin-top: 25px;
	  width: 21px;
	  height: 20px;
	  outline: 1px solid red;

	}
	.ch{
		font-size: 14px;
		display: inline-block;
		margin-top: -10px;
		//margin-left: -25px;
		
	}
	/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
	селекторы с плюсом. Показываем, что label кликабелен. */
	.checkbox + label {
	  cursor: pointer;
	}

	/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
	Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
	в них все нижеследующие стили не сработают. */

	/* Прячем оригинальный чекбокс. */
	.checkbox:not(checked) {
	  position: absolute;
	  opacity: 0;
	}
	.checkbox:not(checked) + label {
	  position: relative; /* будем позиционировать псевдочекбокс относительно label */
	  padding: 0 0 10px 30px; /* оставляем слева от label место под псевдочекбокс */
	}
	/* Оформление первой части чекбокса в выключенном состоянии (фон). */
	.checkbox:not(checked) + label:before {
	  content: '';
	  position: absolute;
	  top: -4px;
	  left: 0;
	  width: 18px;
	  height: 18px;
	  
	  background: url(../img/ch.png);
	  
	}
	
	/* Меняем фон чекбокса, когда он включен. */
	.checkbox:checked + label:before {
		width: 21px;
		height: 20px;
	  background: url(../img/ch_hover.png);
	}
	/* Сдвигаем переключатель чекбокса, когда он включен. */
	.checkbox:checked + label:after {
	  left: 26px;
	}
	/* Показываем получение фокуса. */
	.checkbox:focus + label:before {
	  
	}
}  























/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.acceleration, .header_middle-products{
		text-align: center;
	}
	.header_middle-products{
		h1{
			text-align: center;
		}
		.products-women{
			max-width: 80%;
			margin: 0 auto;
		}
	}
	.prods-tab, .responsive-tabs__list{
		width: 100%;
	}
	.prods-tab .responsive-tabs__heading{
		width: 100%;
		
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   
}
 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
/***************/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 1px solid red;
    //outline: none !important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}


