@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h4, h5, h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

body {
  font-family: "MyriadPro-Regular";
  line-height: normal; }

h1 {
  font-family: "MyriadPro-Cond";
  font-size: 72.14px !important;
  color: #fff;
  text-transform: uppercase;
  line-height: 20px; }

h3 {
  font-size: 36px;
  line-height: 30px;
  font-family: "Myriad-Pro-Light-SemiExtended";
  color: #000;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.header-sub-text {
  font-family: "Myriad-Pro-Light-SemiExtended";
  font-size: 24px;
  color: #fff; }

.button-1 {
  display: inline-block;
  width: 121px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #14b2cc;
  font-size: 14px;
  text-align: center;
  transition: 0.5;
  box-sizing: border-box;
  font-family: "MyriadPro-Regular";
  letter-spacing: .1em;
  color: #000; }

.button-1:hover {
  background: #14b2cc;
  color: #fff; }

/***********/
.futures {
  margin-top: 85px; }

.future {
  width: 100%;
  max-width: 240px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px; }

.futures__img-box {
  min-height: 50px;
  margin-bottom: 20px; }

.futures__title {
  display: block;
  color: #212b4d;
  font-size: 24px;
  font-family: "MyriadPro-Cond";
  text-transform: uppercase;
  letter-spacing: .05em;
  margin-bottom: 18px; }

.futures__text {
  min-height: 60px;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 14px;
  color: #000;
  opacity: 0.8;
  font-family: "MyriadPro-Regular"; }

/**==**/
.acceleration {
  width: 100%;
  background: #c8db8c;
  padding-top: 50px; }

.acceleration-tetka {
  display: block;
  margin: 0 auto;
  margin-top: 10px; }

.acc-middle-text p {
  margin-bottom: 20px; }

.acc-some-text {
  width: 100%;
  max-width: 80%;
  color: #fff;
  background: #c8db8c;
  padding: 35px 55px;
  margin: 0 auto;
  font-family: "Myriad-Pro-Light-SemiExtended";
  font-size: 23px;
  line-height: 28px;
  text-align: center; }

.center {
  text-align: center; }

/*==*/
.vremya {
  display: block;
  width: 100%;
  margin-top: 50px; }
  .vremya li {
    width: 130px;
    height: 114px;
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    color: #010101;
    font-family: "MyriadPro-Cond";
    font-size: 24px;
    text-transform: uppercase; }
    .vremya li .ico-box {
      margin-top: 20px;
      margin-bottom: 5px;
      min-height: 50px;
      color: red; }
  .vremya li:hover, .vremya .active {
    background: #f8f3f0; }
  .vremya li:last-child {
    margin-right: 0px; }

.ab-gray {
  width: 100%;
  background: #f8f3f0;
  padding: 45px 0px;
  margin-bottom: 50px; }

.ab-menu-center {
  width: 100%;
  height: 100%;
  text-align: center; }

.ab-title {
  font-size: 18px;
  text-transform: uppercase; }

.footer {
  text-align: center;
  opacity: 0.5;
  font-size: 12px;
  margin-top: 50px;
  padding: 30px 0px; }

/* REQUIRED for core functionality */
.prods-tab .responsive-tabs__heading {
  display: none; }

.prods-tab .responsive-tabs__list__item {
  display: inline;
  cursor: pointer; }

@media (max-width: 1200px) {
  .prods-tab .responsive-tabs__list {
    display: none; }

  .prods-tab .responsive-tabs__heading {
    display: block;
    cursor: pointer; }

  .prods-tab .responsive-tabs__panel--closed-accordion-only {
    display: none; } }
@media (min-width: 1201px) {
  .prods-tab .responsive-tabs__panel--closed-accordion-only {
    display: block !important; } }
/* END - Required for core functionality */
/* OPTIONAL - Basic Skin */
.prods-tab .responsive-tabs {
  margin-top: -75px; }

.prods-tab .responsive-tabs-wrapper {
  clear: both;
  zoom: 1; }

.prods-tab .responsive-tabs-wrapper:before,
.prods-tab .responsive-tabs-wrapper:after {
  content: "";
  display: table; }

.prods-tab .responsive-tabs-wrapper:after {
  clear: both; }

.prods-tab .responsive-tabs__list {
  height: 74px;
  line-height: 74px; }

.prods-tab .responsive-tabs__list__item {
  display: inline-block;
  padding: 0px 20px;
  font-family: "MyriadPro-Cond";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #fff;
  outline: none;
  max-width: 20%;
  height: 75px !important;
  line-height: 75px !important; }
  .prods-tab .responsive-tabs__list__item span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
    font-family: "MyriadPro-Cond";
    font-size: 18px;
    color: #fff;
    text-transform: uppercase; }

.prods-tab .responsive-tabs__list__item:hover {
  background: #fff;
  color: #000; }
  .prods-tab .responsive-tabs__list__item:hover span {
    color: #000; }

.prods-tab .responsive-tabs__list__item--active,
.prods-tab .responsive-tabs__list__item--active:hover {
  background: #fff;
  color: #000; }
  .prods-tab .responsive-tabs__list__item--active span,
  .prods-tab .responsive-tabs__list__item--active:hover span {
    color: #000; }

.prods-tab .responsive-tabs__panel {
  padding: 25px;
  background: #fff; }

@media (max-width: 1200px) {
  .prods-tab {
    width: 100%;
    margin-top: 76px; }

  .prods-tab .responsive-tabs__list__item {
    width: 100%; }

  .prods-tab .responsive-tabs__heading {
    padding: 30px 20px;
    background: #14b2cc;
    border-bottom: 1px solid #fff;
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #fff;
    font-family: "MyriadPro-Cond";
    width: 100%; }

  .prods-tab .responsive-tabs__heading:after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 40%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff; }

  .prods-tab .responsive-tabs__heading:hover,
  .prods-tab .responsive-tabs__heading--active:hover {
    background-color: #f22e89;
    color: #fff; }

  .prods-tab .responsive-tabs__heading--active {
    background: #f22e89;
    color: #fff; }

  .prods-tab .responsive-tabs__heading--active:after {
    border-bottom: 10px solid #fff;
    border-top: 0; }

  .prods-tab .row, .prods-tab .container, .prods-tab div[class^="col"] {
    padding: 0px;
    margin: 0px; } }
.products-text {
  font-size: 18px;
  color: #fff;
  opacity: 0.8;
  line-height: 25px;
  font-family: "MyriadPro-Regular";
  padding-bottom: 35px; }

.header_middle-products {
  background: #14b2cc;
  padding-top: 50px; }

.products-women {
  display: block;
  margin-left: auto;
  width: 100%;
  height: auto; }

#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none; }

.order {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 309px;
  min-height: 315px;
  z-index: 9998;
  background-color: #fff;
  border-radius: 6px;
  font-size: 16px;
    /* C╨╜╨░╤З╨░╨╗╨░ ╨╛╨▒╨╛╨╖╨╜╨░╤З╨░╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨┤╨╗╤П IE8 ╨╕ ╨▒╨╛╨╗╨╡╨╡ ╤Б╤В╨░╤А╤Л╤Е ╨▓╨╡╤А╤Б╨╕╨╣
	╤В.╨╡. ╨╖╨┤╨╡╤Б╤М ╨╝╤Л ╨╜╨╡╨╝╨╜╨╛╨│╨╛ ╨╛╨▒╨╗╨░╨│╨╛╤А╨░╨╢╨╕╨▓╨░╨╡╨╝ ╤Б╤В╨░╨╜╨┤╨░╤А╤В╨╜╤Л╨╣ ╤З╨╡╨║╨▒╨╛╨║╤Б. */
  /* ╨н╤В╨╛ ╨┤╨╗╤П ╨▓╤Б╨╡╤Е ╨▒╤А╨░╤Г╨╖╨╡╤А╨╛╨▓, ╨║╤А╨╛╨╝╨╡ ╤Б╨╛╨▓╤Б╨╡╨╝ ╤Б╤В╨░╤А╤Л╤Е, ╨║╨╛╤В╨╛╤А╤Л╨╡ ╨╜╨╡ ╨┐╨╛╨┤╨┤╨╡╤А╨╢╨╕╨▓╨░╤О╤В
  ╤Б╨╡╨╗╨╡╨║╤В╨╛╤А╤Л ╤Б ╨┐╨╗╤О╤Б╨╛╨╝. ╨Я╨╛╨║╨░╨╖╤Л╨▓╨░╨╡╨╝, ╤З╤В╨╛ label ╨║╨╗╨╕╨║╨░╨▒╨╡╨╗╨╡╨╜. */
  /* ╨Ф╨░╨╗╨╡╨╡ ╨╕╨┤╨╡╤В ╨╛╤Д╨╛╤А╨╝╨╗╨╡╨╜╨╕╨╡ ╤З╨╡╨║╨▒╨╛╨║╤Б╨░ ╨▓ ╤Б╨╛╨▓╤А╨╡╨╝╨╡╨╜╨╜╤Л╤Е ╨▒╤А╨░╤Г╨╖╨╡╤А╨░╤Е, ╨░ ╤В╨░╨║╨╢╨╡ IE9 ╨╕ ╨▓╤Л╤И╨╡.
  ╨С╨╗╨░╨│╨╛╨┤╨░╤А╤П ╤В╨╛╨╝╤Г, ╤З╤В╨╛ ╤Б╤В╨░╤А╤Л╨╡ ╨▒╤А╨░╤Г╨╖╨╡╤А╤Л ╨╜╨╡ ╨┐╨╛╨┤╨┤╨╡╤А╨╢╨╕╨▓╨░╤О╤В ╤Б╨╡╨╗╨╡╨║╤В╨╛╤А╤Л :not ╨╕ :checked,
  ╨▓ ╨╜╨╕╤Е ╨▓╤Б╨╡ ╨╜╨╕╨╢╨╡╤Б╨╗╨╡╨┤╤Г╤О╤Й╨╕╨╡ ╤Б╤В╨╕╨╗╨╕ ╨╜╨╡ ╤Б╤А╨░╨▒╨╛╤В╨░╤О╤В. */
  /* ╨Я╤А╤П╤З╨╡╨╝ ╨╛╤А╨╕╨│╨╕╨╜╨░╨╗╤М╨╜╤Л╨╣ ╤З╨╡╨║╨▒╨╛╨║╤Б. */
  /* ╨Ю╤Д╨╛╤А╨╝╨╗╨╡╨╜╨╕╨╡ ╨┐╨╡╤А╨▓╨╛╨╣ ╤З╨░╤Б╤В╨╕ ╤З╨╡╨║╨▒╨╛╨║╤Б╨░ ╨▓ ╨▓╤Л╨║╨╗╤О╤З╨╡╨╜╨╜╨╛╨╝ ╤Б╨╛╤Б╤В╨╛╤П╨╜╨╕╨╕ (╤Д╨╛╨╜). */
  /* ╨Ь╨╡╨╜╤П╨╡╨╝ ╤Д╨╛╨╜ ╤З╨╡╨║╨▒╨╛╨║╤Б╨░, ╨║╨╛╨│╨┤╨░ ╨╛╨╜ ╨▓╨║╨╗╤О╤З╨╡╨╜. */
  /* ╨б╨┤╨▓╨╕╨│╨░╨╡╨╝ ╨┐╨╡╤А╨╡╨║╨╗╤О╤З╨░╤В╨╡╨╗╤М ╤З╨╡╨║╨▒╨╛╨║╤Б╨░, ╨║╨╛╨│╨┤╨░ ╨╛╨╜ ╨▓╨║╨╗╤О╤З╨╡╨╜. */
  /* ╨Я╨╛╨║╨░╨╖╤Л╨▓╨░╨╡╨╝ ╨┐╨╛╨╗╤Г╤З╨╡╨╜╨╕╨╡ ╤Д╨╛╨║╤Г╤Б╨░. */ }
  .order .form-order {
    padding: 17px; }
    .order .form-order span.ttl {
      display: block;
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .order .form-order span.sub {
      display: block;
      margin-bottom: 10px; }
    .order .form-order label {
      display: block;
      margin-bottom: 5px; }
    .order .form-order input[type="text"] {
      display: block;
      width: 100%;
      height: 37px;
      line-height: 37px;
      margin-bottom: 20px;
      border: none;
      border: 1px solid #c60006;
      padding: 0px 10px;
      outline: none; }
    .order .form-order input[type="submit"] {
      display: block;
      text-align: center;
      border: none;
      margin: 0 auto;
      margin-top: 10px; }
    .order .form-order label {
      display: inline-block;
      position: relative; }
  .order .close {
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    top: 25px;
    right: 20px;
    background: url(../img/close.png); }
  .order .checkbox {
    vertical-align: top;
    display: inline-block;
    margin-top: 25px;
    width: 21px;
    height: 20px;
    outline: 1px solid red; }
  .order .ch {
    font-size: 14px;
    display: inline-block;
    margin-top: -10px; }
  .order .checkbox + label {
    cursor: pointer; }
  .order .checkbox:not(checked) {
    position: absolute;
    opacity: 0; }
  .order .checkbox:not(checked) + label {
    position: relative;
    /* ╨▒╤Г╨┤╨╡╨╝ ╨┐╨╛╨╖╨╕╤Ж╨╕╨╛╨╜╨╕╤А╨╛╨▓╨░╤В╤М ╨┐╤Б╨╡╨▓╨┤╨╛╤З╨╡╨║╨▒╨╛╨║╤Б ╨╛╤В╨╜╨╛╤Б╨╕╤В╨╡╨╗╤М╨╜╨╛ label */
    padding: 0 0 10px 30px;
    /* ╨╛╤Б╤В╨░╨▓╨╗╤П╨╡╨╝ ╤Б╨╗╨╡╨▓╨░ ╨╛╤В label ╨╝╨╡╤Б╤В╨╛ ╨┐╨╛╨┤ ╨┐╤Б╨╡╨▓╨┤╨╛╤З╨╡╨║╨▒╨╛╨║╤Б */ }
  .order .checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 18px;
    height: 18px;
    background: url(../img/ch.png); }
  .order .checkbox:checked + label:before {
    width: 21px;
    height: 20px;
    background: url(../img/ch_hover.png); }
  .order .checkbox:checked + label:after {
    left: 26px; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .acceleration, .header_middle-products {
    text-align: center; }

  .header_middle-products h1 {
    text-align: center; }
  .header_middle-products .products-women {
    max-width: 80%;
    margin: 0 auto; }

  .prods-tab, .responsive-tabs__list {
    width: 100%; }

  .prods-tab .responsive-tabs__heading {
    width: 100%; } }
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/***************/

/*# sourceMappingURL=style.css.map */
