
// ******************************* style3.scss *******************************



// ******************** header-top ********************

.header-top{
    background: #38c2ff;
    padding: 30px 0;
    line-height: 80px;
    //display: 
}



  .logobox{
     text-align: right;

     //margin-top: -4px;  
     img{
        width: 253px;
        height: 81px;

     }
}

.aa-degree{
color: #fff;
font-size: 13px;
text-transform: uppercase;
font-family: "GothaProMed";
letter-spacing: 0.15em;
line-height: 20px;
vertical-align: middle;
display: inline-block;
}

.aa-key{
    font-family: "GothaProMed";
    color: #fff;
    font-size: 16px;
    background: url(../img/key.png) no-repeat;
    height: 43px;
    display: inline-block;
    line-height: 43px;
    padding-left: 53px;
}

.aa-question{
    font-family: "GothaProMed";
    color: #fff;
    font-size: 16px;
    background: url(../img/question.png) no-repeat;
    height: 43px;
    display: inline-block;
    line-height: 43px;
    padding-left: 53px;
}


.header-middle{
    background: #38c2ff;

}

.aa-menu-item{
    display: inline-block;
    line-height: 0;
    a{
        display:inline-block;
        padding: 15px;
        font-family: "GothaProBol";
        font-size: 18px;
        margin-right: 50px;
        color: #000;
        border-radius: 15px;
        line-height: 0;
        border: 2px solid transparent;
    }
}

.aa-menu-item{
    a:hover{
        color: #fff;
        border: 2px solid #fff;
    }
}

.aa-menu{
    display: block;
    width: 100%;
    text-align: right;
    span{
        display: inline-block;
        
    
    }
}

@keyframes shadow {
from {left: -301px;}
to {left: 0px;}
}
.header-top__menu-pressed {
    position: fixed;
    width: 301px;
    height: 100%;
    animation: shadow  1s 1 ease-in-out;
    left: 0px;
    top: 0px;
    z-index: 10000;
    padding: 20px 0 0 15px;
    color: #fff;
    background: #38c2ff;
    display: block !important;
    line-height: 30px !important;
    
       
        li{

            display: block;
        }
    
}










/**/
.aa-header-bottom{
    //outline: 1px solid #f00;
    position: relative;
    //height: 20px;
    overflow: hidden;
}

.transform-box{
    position: absolute;
    height: 0;
    width: 1900px;
    //background: #fff;
    //outline: 1px solid #f00;
    border-left: 950px solid transparent;
    border-right: 950px solid transparent;
    border-bottom: 450px solid #000;
    bottom:0;
    left:-43%;
    transform-origin: 0% 100%;
    //transform: scale(19);
    //translate: transform(50%, 0);
    //top: 100px;
    //left: 100px;
    // transform: rotate(90deg);
    // -webkit-transform:rotate(45deg);
    // -moz-transform:rotate(90deg);
    // -o-transform:rotate(90deg);
    //transform: rotate(45deg);
    //transform: scale(2,1);
}



/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.menu-list-unpressed{
    display: none;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}




.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 1px solid yellow;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}