
// *********************** header_middle ***********************
.header_middle{
    background-color: #00B3CE;
    position: relative;
}
.header_middle-right{
    position: relative;
    padding-top: 20px;
}

.header_middle-left{
    text-align: center;
}
.header_middle-span1{
    font-size: 99.74px;
    line-height: 95px;
    letter-spacing: .05em;
    margin-top: 107px;
    display: inline-block;
    font-family: "MyriadPro-Cond";
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    span{
        font-size: 81.12px;
        letter-spacing: .05em;
    }
}
.header_middle-span3{
    display: block;
    font-family: "Myriad-Pro-Light-SemiExtended";
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    margin-top: 30px;
}
.header_middle-span3__programs{
    font-family: "MyriadPro-Regular";
}
.header_middle-women{
    display: block;
    max-width: 80%;
    height: auto;
}
// *********************** header_middle ***********************

// *********************** programs.php ***********************
.program-cell{
    width: 100%;
    background-color: #CC7CA7;
    height: 500px;
    text-align: center;
}
.program-cell1{
    width: 100%;
    background-color: #B4D078;
}
.program-cell2{
    width: 100%;
    background-color: #FFCB5C;
}
.program_item{
    background-color: #CC7CA7;
    max-width: 270px;
    color: #fff;
    text-align: center;
    padding-top: 40px;
    margin: 0 auto;
}
.program_item1{
    background-color: #B4D078;
}
.program_item2{
    background-color: #FFCB5C;
}
.program_item__imgtop{
    display: block;
    margin: 0px auto;
}
.program_item__title{
    font-family: "MyriadPro-LightCond";
    font-size: 36px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 5px;
}
.program_item__subtitle{
    font-family: "Myriad-Pro-Light-SemiExtended";
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
}
.program_item__text{
    font-family: "MyriadPro-Regular";
    font-size: 15.98px;
    color: #fff;
    margin-bottom: 10px;
}
.program_item__girl{

}
.program_item__girl-img{
    width: 120px;
    height: 224px;
}
.program_item__girl-img1{
    width: 230px;
    height: 231px;
}
.program_item__girl-img2{
    width: 150px;
    height: 218px;
}
.program_item-link{
    display: block;
    position: absolute;
    font-family: "MyriadPro-Regular";
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0px;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #003D58;
    text-align: center;
}
.program_item-link-icon{
    display: inline-block;
    color: #fff;
    padding-left: 3px;
}
// *********************** ac-additional-block ***********************
.ac-additional-block{
    padding-top: 50px;
}
.ac-additional-borderbox{
    max-width: 520px;      // max-width: 455px;
    text-align: center;
    margin: 0 auto;
}
.ac-borderbox-span{
    display: block;
    font-family: "Myriad-Pro-Light-SemiExtended";
    font-size: 24px;
    margin-top: 26px;
}
.ac-list__item{
    display: inline-block;
    padding: 20px 25px 7px 25px;
    font-family: "MyriadWebPro-Condensed";
    font-size: 24px;
    color: #7CC5CF;
    margin-top: 15px;
    cursor: pointer;
}
// .ac-list__item:hover{
//     background-color: #E6F3F5;
// }
.ac-list__item-active{
    background-color: #fff;
}
.ac-row-block{
    background-color: #E6F3F5;
}
.ac-circle-left{
    display: none;
}
.ac-circle-right{
    display: none;
}
.ac-row-block2{
    padding: 40px 0px;
    text-align: center;
}
.ac-row_span{
    display: block;
    font-family: "Myriad-Pro-Light-SemiExtended";
    font-size: 18px;
    margin-bottom: 18px;
}
.ac-row_link{
    display: inline-block;
    width: 210px;
    height: 60px;
    border: 1px solid #7CC5CF;
    margin-top: 15px;
    margin-right: 10px;
    font-family: "MyriadPro-Regular";
    font-size: 14px;
    text-align: center;
    color: #808586;
}
.ac-row_link:hover{
    background-color: #14b2cc;
    color: #fff;
    .ac-link-img{
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../img/true-circle.png) center center no-repeat;
        margin-right: 10px;
        line-height: normal; //******
        vertical-align: middle; //******
    }
}

//***********************************************
.ac-block1{
    padding-top: 10px;
}
.program_item-pinklink{
    display: inline-block;
    font-family: "MyriadPro-Regular";
    font-size: 24.5px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 60px;
    width: 250px;
    height: 60px;
    background-color: #CB7CA6;
}
.header_middle-span4__programs{
    font-family: "MyriadPro-Regular";
    font-size: 16px;
    display: block;
    color: #515455;
    text-align: center;
    margin-top: 43px;
}
.ac-block2{
    padding: 45px 0px 50px 0px;
    text-align: center;
}
.ac-span{
    margin-bottom: 30px;
}
.ac-list-products{
    margin-top: 30px;
}
.ac-list__item-products{
    display: inline-block;
    height: 61px;
    line-height: 61px;
    border: none;
    padding: 0px 20px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-left: -.36em;
    span{
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        text-align: center;
        font-family: "MyriadPro-Cond";
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
    }
}
.ac-list__item-products:hover{
    background-color: #fff;
}
.ac-list__item-products:hover > span{
    color: #000;
}
.ac-list-products .active{
    background-color: #fff;
}
.ac-list-products .active > span{
    color: #000;
}
.no-gutter>[class*='col-']{
    padding-left: 0;
    padding-right: 0;
}
.span-option-row{
    text-align: center;
    margin-bottom: 20px;
}
.span-option-cell{
    box-shadow: 0px 2px 2px rgba(0,0,0,0.125);
    border: 1px solid #f3f5f7;
    margin-top: 38px;
    padding: 42px 0px 35px 0px;
}
.span-option{
    margin-top: 84px;
}
.products-span1{
    display: block;
    font-family: "MyriadPro-Regular";
    font-size: 14px;
    color: #8b8b8b;
    margin-top: 12px;
}
.products-img1{
    display: inline-block;
    margin-bottom: 34px;
}
.products-span2{
    display: inline-block;
    text-align: center;
    font-family: "MyriadPro-Regular";
    font-size: 12px;
    color: #8b8b8b;
    margin: 20px;
}
.ac-link-span{
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

// *********************** programs.php ***********************

// *********************** soveti.php ***********************
.ac-soveti-img{
    display: inline-block;
}
.ac-soveti-span-title{
    display: block;
}
.ac-soveti-cell{
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.125);
    border: 1px solid #f3f5f7;
    margin-top: 30px;
    min-height: 493px;
}
.ac-soveti-span-title{
    font-family: "MyriadPro-Cond";
    font-size: 24px;
    margin-top: 60px;
    text-transform: uppercase;
    color: #000;
}
.ac-soveti-span{
    display: block;
    font-family: "MyriadPro-Regular";
    font-size: 16px;
    margin-top: 28px;
}
.header_middle-span3__soveti{
    font-family: "MyriadPro-Regular";
    font-size: 18px;
    text-align: center;
    margin: 45px 0px 95px 0px;
}
.ac-rev_link{
    display: inline-block;
    width: 211px;
    height: 40px;
    margin-top: 15px;
    margin-right: 10px;
    font-family: "MyriadPro-Regular";
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #caced0;
}
.rev-img{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/rev-img.png) left center no-repeat;
    margin-right: 15px;
}
.ac-soveti-span1{
    display: block;
    font-family: "MyriadPro-Regular";
    font-size: 16px;
    margin-top: 15px;
}
.ac-soveti-span2{
    display: block;
    font-family: "MyriadPro-Regular";
    font-size: 16px;
    margin-top: 20px;
    color: #14b2cc;
}
.rev-text1{
    display: block;
    // width: 541px;
    font-family: "MyriadPro-Regular";
    font-size: 16px;
    line-height: 25px;
    color: #000;
    margin: 20px 0px;
}
.ac-rev-cell{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
// *********************** soveti.php ***********************

// *********************** IMT ***********************
.ac-wrapper-mod-window{
    padding: 51px 0px 35px 0px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.125);
    margin-bottom: 45px;
}
.mod-window-top{
    text-align: center;
}
.mod-window-middle{
    background-color: #14b2cc;
    max-height: 347px;
    padding: 40px 25px 50px 25px;
    margin-top: 21px;
    text-align: center;
}
.ac-people-span4{
    display: block;
    font-family: "Myriad-Pro-Light-SemiExtended";
    font-size: 24px;
    line-height: 30px;
    color: #000;
    margin-top: 27px;
}
.ac-people-text{
    display: block;
    font-family: "MyriadPro-Regular";
    font-size: 16px;
    line-height: 25px;
    margin: 34px 0px 5px 0px;
}
.acp-text{
    text-align: center;
}
.acp-text320{
    margin: 28px 0px 45px 0px;
}
.ac-calc-box{
    text-align: center;
}
.ac-people{
    display: table-cell;
    vertical-align: top;
}
.ac-people-woman{
    display: inline-block;
    width: 53px;
    height: 56px;
    border: 1px solid #0e3f58;
    background: url(../img/wom-img.png) center center no-repeat;
}
.ac-people-woman:hover{
    background-color: #0e3f58;
}
.ac-people-man{
    display: inline-block;
    width: 53px;
    height: 56px;
    border: 1px solid #0e3f58;
    background: url(../img/men-img.png) center center no-repeat;
}
.ac-people-man:hover{
    background-color: #0e3f58;
}
.ac-form-box{
    display: table;
    background-color: #14b2cc;
    margin: 0px auto;
}
.ac-form-index-text{
    display: block;
    margin-bottom: 17px;
    font-family: "MyriadPro-Regular";
    font-size: 15.95px;
    line-height: 24.93px;
    color: #096170;
}
.ac-people-span2{
    display: block;
    font-family: "MyriadPro-Light";
    font-size: 36px;
    line-height: 24.93px;
    margin-top: 30px;
}
.ac-people-span3{
    display: block;
    font-family: "Myriad-Pro-Light-SemiExtended";
    font-size: 24px;
    line-height: 30px;
    margin-top: 15px;
}
.ac-form-element{
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-right: 30px;
}
.ac-form-button-box{
    // display: table-cell;
    display: inline-block;
    vertical-align: bottom;
    // padding-right: 30px;
}
.ac-form-button{
    display: block;
    width: 243px;
    height: 55px;
    border: 1px solid white;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #14B2CC;
    font-family: "MyriadPro-Regular";
    font-size: 14px;
    letter-spacing: .1em;
    transition: 0.8; //эффект перехода между двумя состояниями элемента
    margin-top: 20px;
}
.ac-form-button:hover{
    background: #0E3F58;
    color: #fff;
}
input[type="text"]{
    width: 107px;
    height: 55px;
    border: none;
    font-family: "MyriadPro-Light";
    font-size: 29.91px;
    line-height: 24.93px;
    color: #0e3f58;
    padding: 15px 20px;
}
.ac-soc-buttons-list{
    display: block;
    text-align: center;
    padding: 0px 30px; //************
    li{
        display: inline-block;
        margin-left: 10px;
        margin-top: 15px; //*********
    }
}
.ac-form-result{
    margin-bottom: 35px;
}
// *********************** IMT ***********************

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
     .header_middle-span1{
        line-height: 50px;
        font-size: 50px;
        span{
            font-size: 40px;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .header_middle-span1{
        font-size: 50px;
        line-height: 50px;
        span{
            font-size: 35px;
        }
    }
    .header_middle-women{
        max-width: 50%;
        margin: 0 auto;
        margin-top: 20px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .ac-form-element{
        margin: 0px 7px;
    }
    .ac-form-index-text{
        margin-top: 5px;
    }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
     .ac-form-element{
        margin: 0px 12px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .program_item-link{
        font-size: 24.5px;
        padding: 15px 15px;
    }
    .ac-list__item-products{
        width: 100%;
        max-width: 50%;
    }
    .ac-rev-cell{
        padding: 50px 30px;
        margin-bottom: 20px;
    }
    .ac-form-element{
        margin-right: 30px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .program-cell{
        float: left;
        //width: 33.3%;
        width: 50%;
    }
    .program-cell1{
        //width: 33.3%;
        width: 50%;
    }
    .program-cell2{
        //width: 33.3%;
        width: 50%;
    }
    .header_middle-women__programs{
        width: 232px;
        height: 343px;
        margin: 76px 0px 0px 45px;
    }
    .header_middle-women__soveti{
        width: 329px;
        height: 373px;
        margin: 35px 0px 0px 45px;
    }
    .header_middle-span1__programs{
        font-size: 72.14px;
        text-align: left;
        margin-top: 117px;
    }
    .header_middle-span1__products{
        font-size: 72.14px;
        text-align: left;
        margin-top: 63px;
    }
    .header_middle-span2{
        font-size: 81.12px;
        margin-top: 47px;
    }
    .header_middle-span3__programs{
        font-size: 18px;
        text-align: left;
        margin: 45px 0px 95px 0px;
    }
    .header_middle-span3__soveti{
        text-align: left;
        width: 520px;
    }
    .header_middle-span3__products{
        font-family: "MyriadPro-Regular";
        font-size: 18px;
        text-align: left;
        margin: 30px 0px 30px 0px;
    }
    .program_item-link{
        font-size: 24.5px;
        padding: 25px 40px 22px 29px;
    }
    .program_item-link-icon{
        padding-left: 10px;
    }
    .ac-list__item-active{
        background-color: #E6F3F5;
    }
    .ac-list__item-active-products{
        background-color: #fff;
        color: #000;
    }
    .ac-circle-left{
        display: inline-block;
        padding-top: 140px;
        padding-left: 100px;
    }
    .ac-circle-right{
        display: inline-block;
        padding-top: 140px;
        padding-left: 25px;
    }
    .ac-row_link{
        width: 360px;
        height: 55px;
        padding: 0px; //***
        line-height: 55px; //***
        display: inline-block; //***
        //padding: 18px 0px;
    }
    .program_item-pinklink{
        width: 335px;
        height: 83px;
        line-height: 83px;
    }
    .header_middle-women__products{
        width: 439px;
        height: 386px;
        margin-top: 56px;
    }
    .ac-list-products{
        margin-top: -70px;
        vertical-align: middle;
    }
    .ac-list__item-products{
        width: 100%;
        max-width: 182px;
    }
    .no-gutter>[class*='col-']{
        padding-left: 0;
        padding-right: 0;
    }
    .span-option-cell{
        padding: 84px 0px 75px 0px;
    }
    .ac-soveti-cell{
        padding: 70px 100px 35px 100px;
    }
    .ac-rev-cell{
        padding: 70px 50px 100px 50px;
        margin-bottom: 20px;
    }
    .ac-wrapper-mod-window{
        padding: 55px 0px 33px 0px;
        max-height: 846px;
    }
    .ac-people-span4{
        margin-top: 23px;
    }
    .ac-people-text{
        margin: 35px 0px;
    }
    .acp-text{
        text-align: left;
    }
    .mod-window-middle{
        max-height: 197px;
        margin-top: 0px;
        padding: 40px 0px 66px 0px;
    }
    .ac-form-element{
        display: table-cell;
        padding-left: 30px;
    }
    .ac-form-button-box{
        display: table-cell;
        padding-left: 30px;
    }
    input[type="text"]{
        width: 143px;
        height: 55px;
    }
    .ac-form-button{
        display: inline-block;
        width: 170px;
        height: 55px;
        margin-top: 0px;
    }
    .ac-soc-buttons-list{
        padding: 0px 0px; //************
        li{
            margin-top: 0px; //*********
        }
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 1px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}